openapi: 3.1.0
info:
  title: Brightseed Site Content API (WordPress REST API) taxonomies API
  version: wp/v2
  description: Public content API for the Brightseed corporate site (www.brightseedbio.com), served by
    the WordPress REST API `wp/v2` namespace. Read operations on posts, pages, categories, tags, users,
    media, comments, search, taxonomies, types and statuses were verified to respond anonymously on 2026-07-31;
    write operations require authentication via WordPress application passwords. This document was derived
    by the API Evangelist enrichment pipeline from the route metadata the server itself publishes at https://www.brightseedbio.com/wp-json/wp/v2
    — no operations, parameters or schemas were invented.
  contact:
    name: Brightseed
    url: https://www.brightseedbio.com/contact-us/
servers:
- url: https://www.brightseedbio.com/wp-json
  description: Brightseed WordPress REST API
security: []
tags:
- name: taxonomies
paths:
  /wp/v2/taxonomies:
    get:
      operationId: listWpV2Taxonomies
      summary: GET /wp/v2/taxonomies
      tags:
      - taxonomies
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: Limit results to taxonomies associated with a specific post type.
  /wp/v2/taxonomies/{taxonomy}:
    get:
      operationId: getWpV2TaxonomiesByTaxonomy
      summary: GET /wp/v2/taxonomies/{taxonomy}
      tags:
      - taxonomies
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: taxonomy
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application passwords. Authorize at https://www.brightseedbio.com/wp-admin/authorize-application.php
        (advertised in the /wp-json/ discovery document).
